@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #34495e;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 50px;
  padding: 0 40px;
  position: relative;
}

.content__container:before,
.content__container:after {
  position: absolute;
  top: 0;
  color: #d18d29;
  font-size: 42px;
  line-height: 45px;
  animation: opacity 2s infinite;
  margin-left: 10px;
  margin-right: 10px;
}

.content__container:before {
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  right: 0;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 10;
  padding-left: 0px;
  text-align: left;
  list-style: none;
  animation: change 18s infinite;
}

.content__container__list__item {
  line-height: 50px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 6.09%, 100% {
    transform: translate3d(0, 0, 0);
  }
  9.09%, 15.18% {
    transform: translate3d(0, -9.09%, 0);
  }
  18.18%, 24.27% {
    transform: translate3d(0, -18.18%, 0);
  }
  27.27%, 33.36% {
    transform: translate3d(0, -27.27%, 0);
  }
  36.36%, 42.45% {
    transform: translate3d(0, -36.36%, 0);
  }
  45.45%, 51.54% {
    transform: translate3d(0, -45.45%, 0);
  }
  54.54%, 60.63% {
    transform: translate3d(0, -54.54%, 0);
  }
  63.63%, 69.72% {
    transform: translate3d(0, -63.63%, 0);
  }
  72.72%, 78.81% {
    transform: translate3d(0, -72.72%, 0);
  }
  81.81%, 87.9% {
    transform: translate3d(0, -81.81%, 0);
  }
  90.9%, 96.99% {
    transform: translate3d(0, -90.9%, 0);
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}